@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Dosis:wght@200&display=swap');
html,
body{
	margin: 0px;
	background-color: azure;
}


.Navbar {
    box-sizing: border-box;
    margin: 0;
    background: #02122e;
    width: 100%;
    padding: 0.5rem;
    display: flex;
    justify-content: space-around;
  }
  
  .Navbar a {
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease 0s;
  }
  
  .Navbar a:hover {
    color: #68bce0;
  }
  .Navbar a.Navbar-active {
    color: white;
  }

  .Navbar h1{
	color:#fff;
	
  }


  /*---HOMEPAGE---*/
.landingPage{
	width: auto;
	padding: 1em 0;
	text-align: center;
	height: 30vh;
	margin: auto;
	display: block;
	background-image: url(https://hips.hearstapps.com/hmg-prod/images/delish-221130-perfect-chicken-alfredo-0683-eb-1670449995.jpg);
	background-position: top;
	background-size: 80%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	-webkit-clip-path: ellipse(100% 100% at 50% 0%);
	clip-path: ellipse(100% 100% at 50% 0%);
}
.wrapper {
    width: 80vw;
	margin: auto;
    align-content: center;
	max-width: 1200px;
	margin: 2em auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
}
.section-name {
	display: block;
	width: 100%;
	text-align: center;
}

  /*---RECIPESPAGE---*/
  /*---ARTICLE---*/
article {
  margin: 0.5em;
  width: 50vw;
  box-sizing: border-box;
  transition: all 0.1s ease-in;
  font-family: 'Dosis', sans-serif;
}
article:hover {
  border-color: transparent;
  border-collapse: collapse;
  top: 10px;
  -webkit-box-shadow: 10px 10px 115px -30px rgba(0,0,0,0.37);
  -moz-box-shadow: 10px 10px 115px -30px rgba(0,0,0,0.37);
  box-shadow: 10px 10px 115px -30px rgba(0,0,0,0.37);
}
article:hover .card {
  background-color: #DDDDDD;
}
article header {
	border-bottom: 1px solid #EEEEEE;
}

/*---CARD---*/
.card, .ingredientsBox {
	font-family: 'Dosis', sans-serif;
	max-width: 200px;
	padding: 5px;
	display: flex;
	flex-direction: column;
	min-height: 250px;
	flex-shrink: 0;
	border-radius: 5px;
	border-width: 1px;
    border-style: solid;
    border-color: #EEEEEE;
	background-color: rgb(240, 219, 219);
}
.card img {
	background-color: chocolate;
	max-width: 100%;
	max-height: 200px;
	width: 100%;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.card-content {
	padding: 0.8em;
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: auto;
	border-radius: 5px;
	
}
.card-content span {
	margin: 0.3em 0;
}
.card-content div {
	margin: 0.3em 0;
}
footer.card-content {
	padding: 0.8em;
	display:flex;
	flex-direction: row;
	text-align: left;
	margin: auto;
	border-radius: 5px;
	gap: 15px;
	font-size: 0.8em;
	justify-content: center;
}
.card-category {
	padding: 3px 5px;
	color: white;
    background-color: brown;
	text-transform: uppercase;
	font-size: 1em;
	width: auto;
	border-radius: 2px;
	margin-right: 10px;
}
.card-ingredient {
	font-size: 1rem;
	display: block;
}
.card-header {
	font-weight: bold;
	text-transform: capitalize;
	font-size: 1.5rem;
	display: block;
}
.card-calories {
	padding: 3px 5px;
	color: white;
  background-color: rgb(34, 108, 187);
	text-transform: uppercase;
	font-size: 1em;
	width: auto;
	border-radius: 2px;
  margin-right: 1em;
}
.card-dietLabel {
	padding: 3px 5px;
	color: white;
  background-color: rgb(14, 120, 122);
	text-transform: uppercase;
	font-size: 0.7em;
	width: auto;
	border-radius: 2px;
}
.showIngredients {
  background-color: rgb(79, 83, 85);
  color: white;
	padding: 0.4em;
	border-radius: 6px;
	border: 1px;
	cursor: pointer;
	font-family: 'Dosis', sans-serif;
	font-weight: 500;
	font-size: 0.9em;
	letter-spacing: 1px;
	transition: all 0.1s ease-in;  
}


/*------LOGIN PAGE -----*/

.loginContainer{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;	
	width: 30em;
	margin: 10% auto;
	border-radius: 20px;
	-webkit-box-shadow: 3px 3px 28px 1px rgba(77,77,77,0.74);
	-moz-box-shadow: 3px 3px 28px 1px rgba(77,77,77,0.74);
	box-shadow: 3px 3px 28px 1px rgba(77,77,77,0.74);
}

.loginForm div{
	display: flex;
	flex-direction: column;
	margin-bottom:10px;
	justify-content: center;
}

.loginForm input, label{
	padding: 5px;
}

.loginForm button{
	padding: 5px 0px;
	margin: 15px 0px;
 	background-color: #6e579a;
 	color: #fff;
	cursor: pointer;
	-webkit-box-shadow: 2px 2px 28px 1px rgba(77,77,77,0.74);
	-moz-box-shadow: 2px 2px 28px 1px rgba(77,77,77,0.74);
	box-shadow: 2px 2px 28px 1px rgba(77,77,77,0.74);
}

.loginForm button:hover{
	background-color: #4b2e81;
}

